
html {
    scroll-behavior: smooth;
}
body{
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center; 
    
}
#logo{
    opacity: .5;
   
}

  ul{
    
    padding: o;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 0 50px;
    list-style: none;
}
 li{
    float: right;}
li a {
    width: 100px;
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-family: Verdana;
    font-weight: bold;
    color: #162b54;
    text-align:right;
    margin-top: 100px;
    margin-right: 100px; ;
}
nav p {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 400px;
    margin-right: 70px;
    font-size: 25px;
    font-weight:lighter;
    font-family: Verdana;
    color:#ffff;
}


a:hover {
   
    text-decoration: underline; /* Underline the link text */
    color: #ffff;
} 
nav{
    padding: 10px;
}
 


.photo  {
   
     position: absolute;
    top: 0;
    right:0;
    width: 15%; 
    margin-top: 495px;
    margin-right: 150px;
    border-radius: 50px 10px; 
    border:  inset #ffff; 

}

.box:hover {
  
    background-color: rgb(217, 222, 152)
  }

header{
    margin-bottom: 130px;
}
.text-box {
    padding: 5px; /* Adjust the padding as needed */
    background-color: #162b54; /* Just for visualization */
    margin-left: 100px;
    margin-right: 164px;
  
  }
.t1{
    font-family: Verdana;
    color:#ffff;
    font-size: 16px;
    font-weight: bolder;
  }
  .t2{
    font-family: Verdana;
    color:#ffff;
    font-size: 14px;
    font-weight: bold;
  }
  button{
    margin-left: 650px;
    font-family: Verdana;
    color:rgb(151, 151, 41);
    font-weight: 1;
   
  }
  span{
    color: rgb(151, 151, 41);
  }
 #SECTION1 p{
    font-size: 25px;
    font-family: Verdana;
    font-weight: bolder;
    color:#162b54;
    padding: 5;
    background-color: #ffff;
    text-align: left;
    margin-left: 20px;
    margin-right: 570px;

 }
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
}

.box {
    width: calc(25% - 10px); /* 25% width with 10px spacing in between */
    margin: 5px;
    background-color: #ffff;
    padding: 10px;
    text-align: center;
    color: #162b54;
    font-family: Verdana;
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px 30px; 
}

.pt {
    max-width: 457px;
    max-height: 144px;
    width: 100%;
    height: auto;
}



.bl blockquote{
    text-align: center;
    color: rgb(151, 151, 41);
    font-family: Verdana;
    font-weight: bold;
    font-size: 19px;
    text-align: justify;
    width: 350px;
    height: 350px;
    background-color: #162b54;
    padding: 20px; 
    margin-left: 500px;
}
#SECTION2 P{
    color: #162b54;
    font-family: Verdana;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 500px;
   margin-top: 130px;
    
}
#SECTION3 P{
    margin-top: 130px;
    
}

/* Basic styling for the horizontal menu */
.horizontal-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontal-menu li {
    display: inline;
    margin-right: 20px; 
    margin-left: 20px; 
}

.horizontal-menu a {
    text-decoration: none;
    color: #fffdfd;
    font-weight: bold;
    margin-bottom: 60px;
}

.horizontal-menu a:hover {
    color: #162b54;
}
footer{
    margin-bottom: 300px;
}
